* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

button {
    border: solid black 1px;
    border-radius: 5px;
}

figcaption {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

figure {
    float: left;
    margin: 0;
    padding-right: 5px;
    padding-left: 5px;
}

header {
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    height: 115px;
}

label {
    padding-bottom: 2px;
    padding-top: 2px;
}

select {
    border: solid black 1px;
}

.adoption-container {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.adoption-item {
    flex-basis: 25%;
    text-align: center;
    border: 1px dashed darkgray;
}

.breed-detail {
    text-decoration: underline;
}

.breed-info {
    background-color: lightgray;
}

.center {
    text-align: center;
}

.content-container {
    margin-bottom: 5px;
    margin-top: 15px;
    border: gray 2px solid;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.error {
    color: red;
}

.error-container {
    background-color: lightyellow;
    padding-left: 10px;
    margin-top: 15px;
}

.link {
    background:none!important;
    color:cadetblue;
    border:none; 
    padding:0!important;
    font-size: small;
    font-style: italic;
    cursor: pointer;
    display: block;
    margin-bottom: 30px;
    margin-top: 10px;
}

.loading-container {
    background: linear-gradient(lightgray, lightblue);
    padding-left: 10px;
    margin-top: 15px;
}

.logo {
    height: 70px;
}

.pet-details {
    overflow: hidden;
}

.pet-details > li {
    padding-bottom: 0.5em;
}

.pet-page {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 10px;
    border: gray 2px solid;
}

.pet-page-image {
    float: left;
    margin-right: 10px;
}

.shadow {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
  }

#zip {
    border: solid black 1px;
    border-radius: 5px;
}