* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

button {
    border: solid black 1px;
    border-radius: 5px;
}

figcaption {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

figure {
    float: left;
    margin: 0;
    padding-right: 15px;
}

header {
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    height: 115px;
}

label {
    padding-bottom: 2px;
    padding-top: 2px;
}

select {
    border: solid black 1px;
}

.content-container {
    margin-bottom: 5px;
    margin-top: 15px;
    border: gray 2px solid;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.error {
    color: red;
}

.error-container {
    background-color: lightyellow;
    margin-top: 15px;
}

.link {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.loading-container {
    background-color: lightblue; /*TODO: Try a background gradient*/
}

#zip {
    border: solid black 1px;
    border-radius: 5px;
}

.logo {
    height: 70px;
}